@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Workshop - ASP.NET
            Core para Iniciantes</h1>
        <h2 class="text-center">Luan Evangelista - Software Developer</h2>
        <h3 class="text-center">Desenvolvedor FullStack - TRON Informática</h3>
    </div>
    <hr class="m-y-md" />
    <p>Não deixe de acompanhar meus vídeos no YouTube!!</p>
    <p class="lead">
        <a class="btn btn-danger btn-lg" href="https://www.youtube.com/channel/UChZvr6aj3kbROvwe7mZ6gXQ"
            role="button">Inscreva-se no Canal</a>
    </p>
</div>