@page
@model SobreModel

@{
    ViewData["Title"] = "Sobre mim";
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="container">
    <h2 class="text-center">Luan Evangelista - Software Developer (TRON)</h2>
    <p align="center">
        <img src="https://i.ibb.co/CmpCpfq/luan.png" />
    </p>
    <br />

    <h3 class="text-justify"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Mini Bio:</h3>
    <hr />
    <p class="text-text-justify">
        In computer science; programmer, developer, coder or software engineer is someone who writes, develops or
        maintains software on a large system or someone who develops software for use on personal computers.

    </p>
    <hr />
    <br />

    <h3 class="text-justify"><span class=" glyphicon glyphicon-send" aria-hidden="true"></span> Informações Pessoais:
    </h3>
    <hr />
    <dl>
        <dt>Nome: Luan Evangelista</dt>
    </dl>
    <dl>
        <dt>Empresa: <a href="https://www.tron.com.br/"></a>TRON</dt>
    </dl>
    <dl>
        <dt>Profissão: Desenvolvedor FullStack</dt>
    </dl>
    <dl>
        <dt>Instagram: <a href="https://www.instagram.com/luanevangelistaa/">luanevangelistaa</a></dt>
    </dl>
    <dl>
        <dt>Linkedin: <a href="https://www.linkedin.com/in/luan-evangelista-vieira-36938a1a0/">Luan Evangelista
                Vieira</a></dt>
    </dl>
    <dl>
        <dt>GitHub: <a href="https://github.com/luan-evangelista">luan-evangelista</a></dt>
    </dl>
    <dl>
        <dt>Localização: Goiânia-GO, Brasil</dt>
    </dl>
    <hr />
    <br />

    <h3><span class=" glyphicon glyphicon-apple " aria-hidden="true"></span> Palavras Finais:</h3>
    <hr />
    <p class="text-justify">
        The course is a great opportunity for those who want to train to be a professional able to create, develop and
        manage computerized systems. By integrating knowledge from the fields of Administration and Information
        Technology (IT), this bachelor's degree aims to train skilled workers to understand organizations and apply
        computing resources in an appropriate and efficient manner.
    </p>
    <hr />
    <br />
</div>